.box-container {
  position: absolute;
  bottom: 40px;
  left: 100px;
  width: 100px;
  height: 100px;
  z-index: 1;
}
.next-image {
  width: 100%;
  height: 100%;
  background-size: 100% 100%;
  z-index: -1;
}

.box-image-part {
  width: 100%;
  height: 50%;
  background-size: 100% 200%;
  transition: transform 1s;
}

.box-top-image {
  background-position: top;
}

.box-bottom-image {
  background-position: bottom;
}

.box-container .box-image-part.box-top-image.slide-out {
  transform: translateY(-100%);
}

.box-container .box-image-part.box-bottom-image.slide-out {
  transform: translateY(100%);
}

.no-transition {
  transition: none !important;
}

.box-container {
  position: absolute;
  bottom: 40px;
  left: 100px;
  width: 100px;
  height: 100px;
  z-index: 1;
}

.box-inner-container {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
