.box-container {
  position: absolute;
  bottom: 40px;
  left: 100px;
  width: 100px;
  height: 100px;
  z-index: 1;
}
.next-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 1s;
}

.box-image-part {
  width: 100%;
  height: 50%; /* Splitting the div into two equal parts */
  background-size: 100% 200%; /* This ensures the background image covers the entire div */
  transition: transform 1s; /* Sliding animation */
}

.box-top-image {
  background-position: top;
}

.box-bottom-image {
  background-position: bottom;
}

/* When the animation is triggered */
.box-container .box-image-part.box-top-image.slide-out {
  transform: translateY(-100%); /* Slide the top part upwards */
}

.box-container .box-image-part.box-bottom-image.slide-out {
  transform: translateY(100%); /* Slide the bottom part downwards */
}

.no-transition {
  transition: none !important;
}

.box-container {
  position: absolute;
  bottom: 40px;
  left: 100px;
  width: 100px;
  height: 100px;
  z-index: 1;
}

.box-inner-container {
  width: 100%;
  height: 100%;
  overflow: hidden;
}