.slider {
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    height: 820px; 
    position: relative;
}

.slider-image {
    position: absolute;
    transition: transform 3s ease; 
    width: 300px;
    height: 500px;
    transform-origin: center bottom;
}

.slider-image img {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover; 
}

.slider-image.center {
    transform: translateX(0) rotate(0deg);
    z-index: 2;
}

.slider-image.left {
    margin-top: 115px;
    transform: translateX(-130%) rotate(-15deg);
    z-index: 1;
}

.slider-image.right {
    margin-top: 115px;
    transform: translateX(130%) rotate(15deg);
    z-index: 1;
}
