.square {
  width: 130px;
  height: 130px;

  position: absolute;
  top: -15px;
  left: -15px;
}

/* top border */
.square::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 7px;
  background: White;
  animation: drawTop 1s 0s forwards;
}

/* right border */
.square::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  height: 0;
  width: 7px;
  background: white;
  animation: drawRight 1s 1s forwards;
}

/* bottom border */
.square .border-horizontal {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  width: 0;
  height: 7px;
  background: white;
  animation: drawBottom 1s 2s forwards;
}

/* left border */
.square .border-vertical {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 0;
  width: 7px;
  background: white;
  animation: drawLeft 1s 3s forwards;
}

.solid-square {
  border: 1px solid white;
  width: 122px;
  height: 122px;
  margin-left: 3px;
  margin-top: 3px;
}

@keyframes drawTop {
  from {
    width: 0;
  }

  to {
    width: 100%;
  }
}

@keyframes drawRight {
  from {
    height: 0;
  }

  to {
    height: 100%;
  }
}

@keyframes drawBottom {
  from {
    width: 0;
  }

  to {
    width: 100%;
  }
}

@keyframes drawLeft {
  from {
    height: 0;
  }

  to {
    height: 100%;
  }
}
